<h1>Enrollments Lookup</h1>

<button onclick="showEnrollmentAdd()">Add Enrollment</button>

<form id="enrollment-add" hidden>
    <h3>Add a enrollment:</h3>
    <p>Add a new enrollment to the database. All fields are required.</p> 
    <div>
        <label for="sNumber">Student ID Number:</label>
        <input type="text" id="sNumber" name="sNumber" placeholder="123456" pattern="[0-9]{6}" minlength="6" maxlength="6" required>
    </div>
    <div>
        <label for="courseName">Course Name:</label>
        <input type="text" id="courseName" name="courseName" placeholder="CS344" pattern="[A-Za-z]{2}[0-9]{3}" maxlength="5" required>
    </div>
  <input type="submit" value="Add New enrollment" id="addEnrollment">
</form>

<p>Show all courses a student is taking.</p>
<form method="GET" action="/enrollment">
    <div class="enrollment-form">
        <label for="enrollment number">Student ID Number: </label>
        <input type="text" name="studentnumber" id="studentnumber" pattern="[0-9]{, 6}" maxlength="6" required>
    </div>
    <button>Search</button>
</form>

<br>
<p>Show all courses and students professor is teaching.</p>
<form method="GET" action="/enrollment">
    <div class="professor-form">
        <label for="professor number">Professor ID Number: </label>
        <input type="text" name="professornumber" id="professornumber" pattern="[0-9]{, 5}" maxlength="5" required>
    </div>
    <button>Search</button>
</form>

<br>
<p>Show all students taking a course.</p>
<form method="GET" action="/enrollment">
    <div class="course-form">
        <label for="course name">Course Name: </label>
        <input type="text" name="coursename" id="coursename" maxlength="5">
    </div>
    <div class="course-form">
        <label for="course start">Course Start Date: </label>
        <input type="date" name="coursestart" id="coursestart">
    </div>
    <button>Search</button>
</form>
<br>
<table>
    <thead>
        <tr>
            <th>Professor</th>
            <th>Professor Number</th>
            <th>Course</th>
            <th>Course Start Date</th>
            <th>Student</th>
            <th>Student Number</th>
            <th>Room Number</th>
            <th><a href="/enrollment"><button>Reset</button></a></th>
        </tr>
        
    </thead>
    <tbody>
        {{#each enrollments}}
        <tr id="enrollment{{enrollmentID}}">
            <td>{{professor}}</td>
            <td>{{professorNumber}}
            <td>{{courseName}}</td>
            <td>{{startDate}}</td>
            <td>{{student}}</td>
            <td>{{studentNumber}}</td>
            <td>{{roomNumber}}</td>
            <td><button onclick="deleteEnrollment({{enrollmentID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>