<h1>Professor Lookup</h1>

<button onclick="showProfessorLookup()">Look for Professor</button><button onclick="showProfessorAdd()">Add Professor</button>

<form id="professor-lookup" hidden>  
    <h3>Look for Professor:</h3>
    <p>Search for the fields you would like to, all fields are optional.</p>
    <div class="professor-form">
        <label for="professor fname">Professor First Name: </label>
        <input type="text" name="professor fname" id="professorfname">
    </div>
    <div class="professor-form">
        <label for="professor name">Professor Last Name: </label>
        <input type="text" name="professor lname" id="professorlname">
    </div>
    <div class="professor-form">
        <label for="professor email">Professor Email: </label>
        <input type="email" name="professor email" id="professoremail">
    </div>
    <div class="professor-form">
        <label for="professor number">Professor ID Number: </label>
        <input type="text" name="professor number" id="professornumber">
    </div>
    <div class="professor-form">
        <button onclick="return checkString();">Search</button>
    </div>
</form>

<form id="professor-add" hidden>
    <h3>Add a Professor:</h3>
    <p>Add a new professor to the database. All fields are required.</p>
    <div>
        <label for="pfname">Professor First Name:</label>
        <input type="text" id="pfname" name="pfname" placeholder="Jane" pattern="[A-Za-z]+" required>
    </div>
    <div>
        <label for="plname">Professor Last Name:</label>
        <input type="text" id="plname" name="plname" placeholder="Doe" pattern="[A-Za-z]+" required>
    </div>
    <div>
        <label for="pemail">Professor Email:</label>
        <input type="email" id="pemail" name="pemail" placeholder="doejane@osu.edu" required>
    </div>
    <div>
        <label for="pnumber">Professor ID Number:</label>
        <input type="text" id="pnumber" name="pnumber" placeholder="P1234567" pattern="[P]{1}[0-9]{6}" minlength="7" maxlength="7" required> 
    </div>
    <input type="submit" value="Add Professor" id="addProfessor">
</form>

<div>
<br>
<p id="searchvalue"></p>
<br>
<table>
    <thead>
        <tr>
            <th>Professor First Name</th>
            <th>Professor Last Name</th>
            <th>Professor Email</th>
            <th>Professor ID Number</th>
    </thead>
    <tbody>
        {{#each professors}}
        <tr>
            <td>{{professorFirstName}}</td>
            <td>{{professorLastName}}</td>
            <td>{{professorEmail}}</td>
            <td>{{professorNumber}}</td>
           <td><button onclick="">Update</button></td>
            <td><button onclick="deleteProfessor({{professorID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>