<h1>Professor Lookup</h1>

<button onclick="showProfessorLookup()">Look for Professor</button><button onclick="showProfessorAdd()">Add Professor</button>

<form id="professor-lookup" method="GET" action="/professor" hidden>  
    <h3>Look for Professor:</h3>
    <p>Search for the fields you would like to, all fields are optional.</p>
    <div class="professor-form">
        <label for="professor fname">Professor First Name: </label>
        <input type="text" name="professorfname" id="professorfname">
    </div>
    <div class="professor-form">
        <label for="professor name">Professor Last Name: </label>
        <input type="text" name="professorlname" id="professorlname">
    </div>
    <div class="professor-form">
        <label for="professor email">Professor Email: </label>
        <input type="email" name="professoremail" id="professoremail">
    </div>
    <div class="professor-form">
        <label for="professor number">Professor ID Number: </label>
        <input type="text" name="professornumber" id="professornumber" pattern="[0-9]{,6}" maxlength="6">
    </div>
    <div class="professor-form">
        <input type="submit">
    </div>
</form>

<form id="professor-add" hidden>
    <h3>Add a Professor:</h3>
    <p>Add a new professor to the database. All fields are required.</p>
    <div>
        <label for="pfname">Professor First Name:</label>
        <input type="text" id="pfname" name="pfname" placeholder="Jane" pattern="[A-Za-z]+" required>
    </div>
    <div>
        <label for="plname">Professor Last Name:</label>
        <input type="text" id="plname" name="plname" placeholder="Doe" pattern="[A-Za-z]+" required>
    </div>
    <div>
        <label for="pemail">Professor Email:</label>
        <input type="email" id="pemail" name="pemail" placeholder="doejane@osu.edu" required>
    </div>
    <div>
        <label for="pnumber">Professor ID Number:</label>
        <input type="text" id="pnumber" name="pnumber" placeholder="12345" pattern="[0-9]{5}" minlength="5" maxlength="5" required> 
    </div>
    <input type="submit" value="Add Professor" id="addProfessor">
</form>

<div>
<br>
<p id="searchvalue"></p>
<br>
<table>
    <thead>
        <tr>
            <th>Professor First Name</th>
            <th>Professor Last Name</th>
            <th>Professor Email</th>
            <th>Professor ID Number</th>
            <th colspan="2"><a href='/professor'><button>Reset</button></a></th>
    </thead>
    <tbody>
        {{#each professors}}
        <tr id="professor{{professorID}}">
            <td>{{professorFirstName}}</td>
            <td>{{professorLastName}}</td>
            <td>{{professorEmail}}</td>
            <td>{{professorNumber}}</td>
            <td><button onclick="updateProfessor({{professorID}})">Update</button></td>
            <td><button onclick="deleteProfessor({{professorID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>


<div id="updateProfessor" hidden>
    <h2>Update Professor</h2>
    <table>
        <thead>
            <tr>
                <th>Professor First Name</th>
                <th>Professor Last Name</th>
                <th>Professor Email</th>
                <th>Professor ID Number</th>
            </tr>
            
        </thead>
        <tbody>
            <tr>
                <td><input type="text" id="editfname" value="" pattern="[A-Za-z]+""></input></td>    
                <td><input type="text" id="editlname" value="" pattern="[A-Za-z]+""></input></td> 
                <td><input type="text" id="editemail" value=""></input></td>    
                <td><input type="text" id="editnumber" value="" disabled></input></td>  
                <td hidden><input type="text" id="editProfessorid" value="" disabled></input></td> 
                <td><button onclick="saveUpdateProfessor()">Save</button></td>
            </tr>
        </tbody>
    </table>
</div>