<p>Slookup

<table>
    <thead>
        <tr>
            <th>Student First Name</th>
            <th>Student Last Name</th>
            <th>Student Email</th>
            <th>Student ID Number</th>
            <th>Student Phone Number</th>
        
    </thead>
    <tbody>
        {{#each studentSearch}}
        <tr>
            <td>{{studentFirstName}}</td>
            <td>{{studentLastName}}</td>
            <td>{{studentEmail}}</td>
            <td>{{studentNumber}}</td>
            <td>{{studentPhoneNumber}}</td>
            <td><button value={{studentID}} onclick="updateStudent({{studentID}})">Update</button></td>
            <td><button value={{studentID}} onclick="deleteStudent({{studentID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>