<h1>Student Lookup</h1>

<button onclick="showStudentLookup()">Look for Student</button><button onclick="showStudentAdd()">Add Student</button>

<form id="student-lookup" hidden>
    <h3>Look for Student:</h3>
    <p>Search for the fields you would like to, all fields are optional.</p>
    
    <div class="student-form">
        <label for="student fname">Student First Name: </label>
        <input type="text" name="student fname" id="studentfname">
    </div>
    <div class="student-form">
        <label for="student name">Student Last Name: </label>
        <input type="text" name="student lname" id="studentlname">
    </div>
    <div class="student-form">
        <label for="student email">Student Email: </label>
        <input type="email" name="student email" id="studentemail">
    </div>
    <div class="student-form">
        <label for="student number">Student ID Number: </label>
        <input type="text" name="student number" id="studentnumber">
    </div>
    <div class="student-form">
        <label for="student name">Student Phone Number: </label>
        <input type="text" name="student phone number" id="studentphonenumber" maxlength="10">
    </div>
    <div class="student-form">
        <button onclick="return checkString();">Search</button>
    </div>
</form>

<form id="student-add" hidden>
    <h3>Add a Student:</h3>
    <p>Add a new student to the database. All fields are required.</p> 
    <div>
        <label for="sfname">Student First Name:</label>
        <input type="text" id="sfname" name="sfname" placeholder="John" pattern="[A-Za-z]+" required>
    </div>
    <div>
        <label for="slname">Student Last Name:</label>
        <input type="text" id="slname" name="slname" placeholder="Doe" pattern="[A-Za-z]+" required>
    </div>
    <div>
        <label for="semail">Student Email:</label>
        <input type="email" id="semail" name="semail" placeholder="doejohn@osu.edu" required>
    </div>
    <div>
        <label for="snumber">Student ID Number:</label>
        <input type="text" id="snumber" name="snumber" placeholder="123456" pattern="[0-9]{6}" minlength="6" maxlength="6" required>
    </div>
    <div>
        <label for="sphone">Student Phone Number:</label>
        <input type="tel" id="sphone" name="sphone" placeholder="1112223333" pattern="[0-9]{10}" required>
    </div>
  <input type="submit" value="Add New Student" id="addStudent">
</form>

<div>
<br>
<p id="searchvalue"></p>
<br>
<table>
    <thead>
        <tr>
            <th>Student First Name</th>
            <th>Student Last Name</th>
            <th>Student Email</th>
            <th>Student ID Number</th>
            <th>Student Phone Number</th>
            <th>Student Table ID</th>
        
    </thead>
    <tbody>
        {{#each students}}
        <tr>
            <td>{{studentFirstName}}</td>
            <td>{{studentLastName}}</td>
            <td>{{studentEmail}}</td>
            <td>{{studentNumber}}</td>
            <td>{{studentPhoneNumber}}</td>
            <td>{{studentID}}</td>
            <td><button value={{studentID}} onclick="">Update</button></td>
            <td><button value={{studentID}} onclick="deleteStudent({{studentID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
<br>
<p>When you hit update, below appears:</p>
<table>
    <thead>
        <tr>
            <th>Student First Name</th>
            <th>Student Last Name</th>
            <th>Student Email</th>
            <th>Student ID Number</th>
            <th>Student Phone Number</th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td><input type="text" id="editfname" value="Wulf"></input></td>    
            <td><input type="text" id="editlname" value="Archana"></input></td> 
            <td><input type="text" id="editemail" value="warchana@osu.edu"></input></td>    
            <td><input type="text" id="editnumber" value="432238" disabled></input></td>  
            <td><input type="text" id="editphonenumber" value="9122411950"></input></td>
            <td><button>Save</button></td>
        </tr>
    </tbody>
</table>
<br>

<script type="text/javascript">
    function checkString(){
        let checkfname = document.getElementById("studentfname").value;
        let checklname = document.getElementById("studentlname").value;
        let checkemail = document.getElementById("studentemail").value;
        let checknumber = document.getElementById("studentnumber").value;
        let checkphonenumber = document.getElementById("studentphonenumber").value;
        let search = '';

        if (checkfname !== ''){
            search = search.concat(" First name:");
            search = search.concat(checkfname);
        }
        if (checklname !== ''){
            search = search.concat(" Last name:");
            search = search.concat(checklname);
        }
        if (checkemail !== ''){
            search = search.concat(" Email:");
            search = search.concat(checkemail);
        }
        if (checknumber !== ''){
            search = search.concat(" Number:");
            search = search.concat(checknumber);
        }
        if (checkphonenumber !== ''){
            search = search.concat(" Phone Number:");
            search = search.concat(checkphonenumber);
        }
        if (search === ''){
            search = "All fields were left blank";
            document.getElementById("searchvalue").innerHTML = search;
            return false;
        }
        document.getElementById("searchvalue").innerHTML = search;
        return false;
    }

    // toggle student look up form
    function showStudentLookup(){
        lookup_form = document.getElementById("student-lookup");
        add_form = document.getElementById("student-add");
        if (window.getComputedStyle(lookup_form).display == "none"){
            if (window.getComputedStyle(add_form).display != "none"){
                add_form.hidden = true;
            }
            lookup_form.hidden = false;
        } else {
            lookup_form.hidden = true;
        }
    }

    // toggle student add form
    function showStudentAdd(){
        lookup_form = document.getElementById("student-lookup");
        add_form = document.getElementById("student-add");
        if (window.getComputedStyle(add_form).display == "none"){
            if (window.getComputedStyle(lookup_form).display != "none"){
                lookup_form.hidden = true;
            }
            add_form.hidden = false;
        } else {
            add_form.hidden = true;
        }
    }

    function deleteStudent(studentID) {
       var req = new XMLHttpRequest();
       var data = {};
       data.id = studentID;
       
       req.open("POST", "/delete-student", true);
       req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
       req.addEventListener("load", () => {
           if (req.status >= 200 && req.status < 400) {
               window.location.reload();
           } else {
               console.log("ERROR");
           }
       })

       req.send(JSON.stringify(data));
    }

    let addStudentButton = document.getElementById("addStudent");
    let studentFirstNameAdd = document.getElementById("sfname");
    let studentLastNameAdd = document.getElementById("slname");
    let studentEmailAdd = document.getElementById("semail");
    let studentNumberAdd = document.getElementById("snumber");
    let studentPhoneNumberAdd = document.getElementById("sphone");
    // Listen for adding a new student
    addStudentButton.addEventListener("click", (event) => {
        event.preventDefault();
        
        // place students in dictionary
        var req = new XMLHttpRequest();
        var data = {};
        data.studentFirstName = studentFirstNameAdd.value;
        data.studentLastName = studentLastNameAdd.value;
        data.studentEmail = studentEmailAdd.value;
        data.studentNumber = studentNumberAdd.value;
        data.studentPhoneNumber = studentPhoneNumberAdd.value;

        // make  POST request to add
        req.open("POST", "/insert-student", true);
        req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        req.addEventListener("load", () => {
            if (req.status >= 200 && req.status < 400) {
                window.location.reload();
            } else {
                alert("Error adding student");
            }
        })
       req.send(JSON.stringify(data));
    })

</script>